@use 'utils/variables';
@use 'utils/mixins';

.sidebar {
  height: 100%;
  padding-inline: 16px;
  display: flex;
  flex-direction: column;
  color: variables.$light;
  background-color: variables.$sidebar;
  transition: all 0.3s;

  @media (max-width: 480px) {
    display: none;
  }

  &.open {
    width: 15rem;
  }
  &.close {
    width: 4.5rem;
  }

  &-btn {
    // margin: 0.5rem; 
    padding-block: 0.5rem;
  }
}
.sidebar-header-container {
  height: 4rem;           // h-16
  padding: 1rem 0;              // p-4
  display: flex;              // flex
  align-items: center;        // items-center
  justify-content: space-between; // justify-between
}
.sidebar-header-title {
  font-size: 1.25rem;       // text-xl
  font-weight: bold;        // font-bold
  white-space: nowrap;      // whitespace-nowrap
  overflow: hidden;         // overflow-hidden
  color: white;

  &.hidden {display: none;}
}

.sidebar-button {
//   @extend .nav-header;           // Assuming .nav-header is another class you've defined
  width: 40px;
  height: 40px;
  display: grid;
  place-content: center;
  color: inherit;
  border: none;
  border-radius: 9999px;         
  background-color: transparent;

  &:hover {
    background-color: #768297;   // hover:bg-gray-700
  }
}

.sidebar-link {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 0.5rem;     // my-2 → 0.5rem top and bottom
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;  // rounded-lg
  transition-property: background-color, border-color, color, fill, stroke;
  transition-duration: 200ms; // duration-200
}
.sidebar-icon {
  flex-shrink: 0;
}

.sidebar-link-span {
  margin-left: 1rem; // ml-4
  white-space: nowrap;
  transition: opacity 300ms;

  &.appear {
    opacity: 0; 
    display: none;
  }
}
.sidebar-link-button {
  width: 100%;
  margin-block: 8px;
  padding: 8px; // same as px-4
  display: flex;
  text-decoration: none;
  color: inherit;
  border-radius: 10px;
  overflow-x: hidden;
}
.sidebar-link-button.hoverable:hover {
  background-color: #374151; // Tailwind gray-700
}

.sidebar-link-button.active {
  background-color: #2563eb; // Tailwind blue-600
}